body{
    background-color: #0c0058;
    color: white;
}

nav{
    display: flex;
    align-items: center;
}

#titulo-principal{
    text-align: center;
}

.selecao-materia-assunto{
    border-radius: 50px;
}

#floatingTextarea{
    /* background-color: ; */
    border-radius: 20px;
    resize: none;
    height: 100px;
}

#botao-gerar{ 
    background-color:#004aad !important;
    border-radius: 50px !important;
}

/* 
#campo-imagem{
    position: fixed;
    top: 100px !important;
    right: 300px !important;
    height: 1200px !important;
    
} */

footer p{
    text-align: center;
}

